---
import Social from './Social.astro';
---

<footer class="w-full bg-slate-600">
  <div class="content">
    <Social platform="GitHub" username="TheFlyer1983" />
    <Social platform="Twitter" username="TheFlyer1983" />
  </div>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
